<!-- listings/templates/listings/index.html -->
{% extends "base.html" %}

{% block page_title %}
    <h2>Listings Posts</h2>
{% endblock page_title %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}

        <div class="listing-item">
            <a href="{% url 'listings_detail' post.pk %}" class="listing-link">
                <h2 class="listing-title">{{ post.title }}</h2>
                <p class="listing-location">Location: <span>{{ post.location }}</span></p>
                <p class="listing-pay-range">Pay Range: <span> {{ post.pay_range }}</span></p>
                <p class="listing-date-posted">Date Posted: <span>{{ post.created_on.date }}</span></p>
                <div class="listing-body">
                    <p>{{ post.body | slice:":200" }}...<span>Full Details</span></p>
                </div>
                <div class="listing-categories">
                    <p>Categories: <span>{% for category in post.categories.all %}
                        <a href="{% url 'listings_category' category.name %}">
                            {{ category.name }}
                        </a>
                    {% endfor %}</span></p>
                </div>
            </a>
        </div>

           
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}